/*Обнуление*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


#logo1 {
    display: none;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;

}

body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;

}

body.overlay {
    overflow: hidden;
}

body.overlay::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 41, 41, 0.6);
}


#logo-burger {
    display: none;
}

#logo-burger h1 a {
    color: #F1CDB3;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 0.06em;
    margin: 0;
}

#logo-burger .header__textLogoBottom {
    margin: 0;
    font-family: 'arial normal', serif;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 1.4px;
    text-align: end;
}


.background {

    background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}


.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;


}

.button {
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
    position: relative;
    bottom: 14px;

}


.button:hover {
    background: #FFA07A;
}

/*Ограничивающий контейнер*/
[class*="__conteiner"] {
    max-width: 1200px;
    margin: 0px auto;

}

.header__conteiner {
    display: flex;
    align-items: center;
}

.header__textLogo {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 30px;


}

.header__textLogoBottom {
    position: relative;
    top: 8px;
    right: -2px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FAFAFA;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;

}

.menu__body {
    padding-right: 3px;
}


.menu__list {
    display: flex;
    gap: 35px;
    padding-top: 30px;
}


.menu__link {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.menu__link:focus, #click {
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;;
}

.menu__link:hover {
    color: #FAFAFA;
}

/*Main block "Take care of your family's heaith"*/


.make__friend__conteiner {
    display: flex;
    align-items: center;

}

.make__friend__content {
    flex: 0 1 42%;
}

.make__friend__image {
    flex: 0 1 58%;
    padding-top: 80px;
}

.make__friend__text__block {
    max-width: 460px;
}


.text__block__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px
}

.text__block__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;

}

.text__block__title:not(:last-child) {
    margin: 0px 0px 42px 0px;
}

.text__block__text:not(:last-child) {
    margin: 0px 0px 70px 0px;
}

.button:not(:last-child) {
    margin: 0px 0px 70px 0px;
}


/*Main block "About the shelter “Cozy House”"*/

.about__shelter {
    padding: 80px 0px 100px 0px;

}


.about__shelter__conteiner {
    display: flex;
    align-items: center;


}

.about__shelter__content {
    flex: 0 1 72%;


}

.about__shelter__description {
    flex: 0 1 50%;
    padding: 0px 0px 0px 175px;


}


.about__shelter__text {
    max-width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__shelter__text:not(:last-child) {
    margin: 0px 0px 25px 0px;
}

.about__shelter__title {
    max-width: 370px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__shelter__title:not(:last-child) {
    margin: 0px 0px 25px 0px;
}

/*Main block "Our friends who are looking for a house"*/

.our__friends {
    background: #F6F6F6;
    padding: 80px 0px 0px 0px;
}

.our__friends_title {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

}


.our__friends_body_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.our__friends_body {
    display: flex;
    gap: 90px;
}

.our__friends__slider {
    flex: 0 1 33.333%;
    padding: 60px 0px 0px 0px;
    cursor: pointer;

}

.our__friends__icon:hover {
    box-shadow: 0 0 10px #000;
    transition: all 0.5s ease;
}

.our__friends__icon:hover * .learn__more {
    background: #F1CDB3;
}

.friends__icon {

    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;

}

.friends__icon {
    margin: 0px 0px 30px 0px;

}

.our__friends__title {

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 30px 0px 0px 0px;


}

.our__friends__button {

    padding: 45px 0px 0px 0px;


}

.learn__more {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;

}

.arrowLeft {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background: #F6F6F6;
    margin: 26px 53px 0px 0px;
    cursor: pointer;
}

.arrowRight {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background: #F6F6F6;
    margin: 26px 0px 0px 53px;
    cursor: pointer;
}


.arrowLeft:hover, .arrowRight:hover {
    background: #FFA07A;
}

.our__friends_get_the_rest {
    width: 261px;
    height: 52px;
    left: 470px;
    top: 645px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
    margin: 29px 0px 100px 544px;
    cursor: pointer;
}

.our__friends_get_the_rest:hover {
    background: #FFA07A;
}

/*How you can help our shelter*/

.help__shelter_title {

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 80px 0px 0px 0px;
}


.help__shelter__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 0px 0px 85px 0px;

}


.help__shelter__list {


    padding: 60px 0px 0px 0px;
    flex: 1 1 200px;
}

.help__shelter__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;

}


.help__shelter__list:nth-child(6) {
    margin-left: 85px;

}

.help__shelter__list:nth-child(7) {
    margin-left: -5px;

}

.help__shelter__list:nth-child(8) {
    margin-left: -5px;

}


.help__shelter__list img {
    margin-bottom: 30px;
}

/*You can also make a donation*/
.make__donation {
    background: #F6F6F6;
    padding: 80px 0px 100px 0px;
}

.make__donation__numberCard {
    background: #F1CDB3;
    border-radius: 9px;
    width: 295px;
    padding: 10px 15px;
    border: none;

}

.img__card {
    position: relative;

}

.img__card > img {
    position: absolute;
    padding: 10px 15px 10px 15px;
}

.img__card > input {
    padding-left: 40px;
}

input[placeholder] {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    text-indent: 15px;
}

.make__donation__numberCard:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.make__donation__conteiner {
    display: flex;
    align-items: center;
}

.make__donation__description {
    flex: 0 1 32%;
    padding: 0px 0px 0px 143px;
}

.make__donation__content {
    flex: 0 1 68%;
    padding: 0px 0px 0px 30px;
}

.make__donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 300px;
}

.make__donation__title:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.make__donation___subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;

}

.make__donation___subtitle:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.make__donation___text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    max-width: 380px;
    margin: 20px 0px 0px 0px;

}


/*Footer*/

.footer__conteiner {
    display: flex;
    justify-content: space-between;
    padding: 56px 0px 0px 0px;
    gap: 158px;
    align-items: flex-start;


}


.footer__questions__title, .footer__location__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;


}

.footer__questions__email, .footer__questions__phone, .footer__location__address1, .footer__location__address2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    align-items: center;
}


.footer__questions__title:not(:last-child), .footer__location__title:not(:last-child) {
    margin: 0px 0px 45px 0px;
}

.img__footer__phone, .img__footer__email, .img__footer__address1, .img__footer__address2 {
    padding: 0px 20px 0px 0px;

}

.footer__email {
    margin: 49px 0px;
}

.footer__location2 {
    margin: 29px 0px;
}

.img__footer__email, .img__footer__phone, .img__footer__address1, .img__footer__address2 {
    position: relative;
    bottom: 11px;
}


.footer__location1, .footer__location2, .footer__email, .footer__phone {
    display: flex;
}

.footer__questions__email:hover, .footer__questions__phone:hover,
.footer__location__address1:hover, .footer__location__address2:hover {
    color: #FFA07A;
}

.pup-up {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    z-index: 1;
}


.pup-up-content {
    background: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.pupUpContainer {
    width: 900px;
    min-height: 500px;
    background: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.pupUpClose {
    position: relative;
    left: 100%;
    width: 52px;
    height: 52px;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 50%;
    background: transparent;
}

.pupUpClose:hover {
    background: rgba(253, 220, 196, 1);
    border: solid rgba(253, 220, 196, 1);
}

.materialIcons {
    font-family: 'Material Icons';
    font-size: 24px;

}

.hidden {
    visibility: hidden;
}

.petListImg {
    width: 550px;
    margin-right: 30px;
}


.petInfoBlock {
    padding: 50px 20px 88px 0;

}

.pupUpTitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    padding-bottom: 10px;

}


.pupUpSubtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #000000;
    padding-bottom: 40px;

}

.pupUpDescription {
    font-family: 'Georgia';
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000000;


}

.pupUpListItem {
    font-family: 'Georgia';
    padding-bottom: 10px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;

}

.listItem {
    padding-left: 17px;
}


.listItem li {
    list-style: initial;
    color: #F1CDB3;
}

.listItem li span {
    color: black;
}

#menu__toggle {
    opacity: 0;
}

/*Медиа запросы*/

@media all and (min-width: 767px) and (max-width: 1280px) {

    .header {
        max-width: none;
        margin: 0 auto;
    }

    .header-container {
        gap: 0;
        padding: 30px;
        margin-left: 20px;
        margin-top: -56px;
    }

    .menu__list {
        padding-top: 72px;
    }

    .make__friend__conteiner {
        flex-direction: column;
        gap: 100px;
        margin-top: 30px;
        padding: 0 100px 0 100px;
        display: flex;
    }

    .make__friend__conteiner .text__block__title {
        line-height: 57.2px;
        display: flex;
    }

    .make__friend__conteiner .make__friend__text__block {

        max-width: 430px;

    }

    .make__friend__conteiner .make__friend__text__block .text__block__button {
        align-self: center;

    }

    .puppy {
        margin-left: 130px;
        width: 569px;
        align-self: center;

    }

    .about__shelter__conteiner {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about-text {
        max-width: none;
    }

    .about__shelter__text__block {
        margin: 0px 168px 0 168px;
    }

    .imgDogCat {
        position: relative;
        margin-left: -162px;
    }

    .our__friends_body {
        gap: 0 40px;
    }

    .our__friends_body_1 {
        /*padding-left: 30px;*/
        /*padding-right: 30px;*/
        /*gap: 12px;*/
        justify-content: center;
    }

    .arrowLeft {
        margin: 26px 10px 0px 0px;
    }

    .arrowRight {
        margin: 26px 0px 0px 10px;
    }

    .our__friends_get_the_rest {
        margin-left: 37%;
    }

    .help__shelter__conteiner .help__shelter_title {
        margin-bottom: 58px;
    }

    .help__shelter__body {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 53px 12%;
        justify-content: space-evenly;
        margin: 0 75px;
    }

    .make__donation__conteiner {
        flex-direction: column-reverse;
        gap: 60px;


    }

    .make__donation__title {
        line-height: 45.5px;
    }

    .make__donation__content {
        max-width: none;
        margin: 0 194px;
    }

    .footer__conteiner {
        display: grid;
        grid-template-areas:
            "contacts location"
            "dog dog";
        padding: 30px 30px 0;
        gap: 25px 0.5%;
        justify-content: space-evenly;
        justify-items: right;
    }

    .footer__questions__title .footer__location__title {
        padding-top: 0;
    }

    .pupUpContainer {
        overflow: hidden;
        display: flex;
        width: 630px;
        align-items: center;
        border-radius: 9px;
        background-color: #FAFAFA;
    }

    .petListImg {
        width: 350px;
    }

    .petInfoBlock {
        width: 260px;
        margin: 14px 9px 37px 11px;
    }

    .pupUpTitle {
        margin: 0 0 13px;
    }

    .pupUpSubtitle {
        padding-bottom: 20px;
        letter-spacing: 0;
    }

    .pupUpDescription {
        font-size: 13px;
        padding-bottom: 20px;
        line-height: 14.3px;
        letter-spacing: 0.05em;
    }

    .listItem .pupUpListItem {
        margin-bottom: 6px;

    }

    .footerDog {
        grid-area: dog;
    }

}

@media all and (min-width: 320px) and (max-width: 767px) {

    .header-container {
        padding: 30px 50px 30px 10px;
        gap: 16.5%;
        justify-content: space-between;
        overflow-y: auto;
        position: relative;
    }

    .header__textLogo {
        margin-top: -45px;

    }

    .menu__body {
        position: fixed;
        background: #292929;
        display: grid;
        gap: 0;
        padding: 30px 10px 0;
        right: -320px;
        top: 0;
        height: 100vh;
        width: 320px;
        transition: right 0.5s;
        z-index: 2;
        align-items: stretch;
        justify-items: start;
    }

    .menu__body .menu__list {
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        height: 100%;
        justify-self: center;
        overflow: hidden;
    }

    #logo1 {
        position: relative;
        display: grid;
        grid-template-rows: repeat(2, auto);
        align-self: flex-start;
    }

    .menu__item {
        font-size: 32px;
        color: #CDCDCD;
        margin-top: 50px;
    }

    .menu__item:nth-child(4) {
        margin-bottom: 68px;
    }

    .menu__link:focus, #click {
        color: #FAFAFA;
        padding-bottom: 0;
    }

    .menu__item:hover:not(#click) {
        cursor: pointer;
        color: #FAFAFA;
    }

    .menu__btn {
        position: relative;
        padding: 0;
        display: block;
        width: 30px;
        height: 6px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 3;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #F1CDB3;
        margin-bottom: 8px;
    }

    .menu__btn > span::before {
        content: '';
        top: -9px;
    }

    .menu__btn > span::after {
        content: '';
        top: 9px;
    }

    .menu__link {
        font-size: 32px;
        color: #CDCDCD;
        margin-top: 40px;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__body {
        visibility: visible;
        right: 0;
    }

    .burgerOverlay {
        visibility: hidden;
    }

    #menu__toggle:checked ~ .burgerOverlay {
        visibility: visible;
    }

    .header {
        font-size: 25px;
        line-height: 32.5px;
        padding-top: 42px;
    }

    .make__friend__conteiner {
        flex-direction: column;
        gap: 105px;
        margin-top: 30px;
        padding: 0 10px;
    }

    .text__block__title {
        line-height: 32.5px;
        font-size: 25px;
        text-align: center;
        letter-spacing: 4px;
    }

    .make__friend__text__block {
        padding: 0;
        text-align: center;
    }

    .puppy {
        margin-left: 40px;
        width: 260px;
        margin-top: -91px
    }

    .about__shelter__conteiner {
        flex-direction: column-reverse;
        gap: 42px;
        padding: 0 10px 42px 10px;
        align-items: center;
    }

    .about__shelter__content {
        gap: 22px;
        margin: 0;
        align-items: center;
    }

    .about-text {
        text-align: justify;
        padding: 0 15px;
    }

    .about__shelter__title {
        text-align: center;
        padding-bottom: 3px;
        font-size: 25px;
        line-height: 32.5px;

    }

    .imgDogCat {
        max-width: 260px;
        margin-left: -144px;
    }

    .our__friends_title {
        margin: 0;
        font-size: 25px;
        line-height: 32.5px;

    }

    .our__friends_get_the_rest {
        padding: 15px 44.5px;
        margin-top: 42px;
        margin-bottom: 42px;
        margin-left: 40px;
    }

    .our__friends_body_1 {
        display: grid;
        grid-template-areas:
            "card card"
            "left right";
        gap: 20px 80px;
    }

    .our__friends_body {
        grid-area: card;
        justify-self: center;
    }

    .arrowLeft {
        grid-area: left;
        margin-left: 50px;
    }

    .arrowRight {
        grid-area: right;
        margin-left: -78px;
    }

    .our__friends_body {
        gap: 0;
    }

    .help__shelter__conteiner .help__shelter_title {
        margin: 0;
        font-size: 25px;
        line-height: 32.5px;
        padding-top: 42px;
    }

    .help__shelter__body {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 28px 30px;
        padding: 0 15px 42px 15px;
        margin: 0;
    }

    .help__shelter__text {
        font-size: 15px;
        margin: 13px 0 0;
    }

    .imgHelp {
        width: 50px;
        height: 50px;
    }

    .make__donation__conteiner {
        flex-direction: column-reverse;
        gap: 42px;
        padding-top: 0;
        padding-bottom: 42px;
    }

    .make__donation__text__block {
        text-align: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 45px;
        margin: 0;
        gap: 22.2px;
    }

    .make__donation___subtitle {
        letter-spacing: 0.001em;
    }

    .make__donation__title {
        padding-top: 35px;
        font-size: 25px;
        line-height: 32.5px;
    }

    .make__donation__numberCard {
        width: 281px;
        padding: 13px 15px 13px 15px;
        font-size: 15px;
    }

    .make__donation___text {
        text-align: justify;

    }

    .donationDog {
        max-width: 260px;
        margin-left: -109px;
    }

    .make__donation {
        padding: 0;
    }

    .footer__conteiner {
        display: grid;
        grid-template-areas:
            "contacts"
            "location"
            "dog";

        padding: 30px 10px 0;
        justify-items: center;
        gap: 40px;
    }

    .footer__questions__title {
        font-size: 25px;
        line-height: 32.5px;
        width: 278px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .footer__location__title {
        font-size: 25px;
        line-height: 32.5px;
        width: 278px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .footer__questions__email, .footer__questions__phone, .footer__location__address1, .footer__location__address2 {
        text-align: center;
    }


    .footerDog {
        max-width: 260px;
    }

    .pupUpContainer {
        width: 240px;
        min-height: 0;
    }

    .pupUpTitle {
        font-size: 35px;
        padding: 0 0 11px;
        margin: 0;
        text-align: center;
    }

    .pup-up-content {
        align-items: center;
        margin-top: -19px
    }

    .pupUpDescription {
        text-align: justify;
        padding: 8px;
        font-size: 13px;
    }

    .pupUpClose {
        top: 2px;
        left: 220px;
    }

    .petListImg {
        display: none;
    }

    .petInfoBlock {
        padding: 0 0 20px 0;

    }

    .pupUpSubtitle {
        padding-bottom: 20px;
        letter-spacing: 0;
        padding-left: 8px;
        text-align: center;
    }

    .listItem {
        padding-left: 23px;
        padding-top: 20px;

    }
    #header__logo {
        margin-top: 12px;
    }
    .menu__list {
        padding-top: 2px;
    }

    .scroll{
        overflow:hidden;
    }

    .burgerOverlay{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }



}



